@font-face{
    font-family: 'crafty';
    src: url('./fonts-master/apache/craftygirls/CraftyGirls-Regular.ttf')
    
}


.button{
    padding: 0.8em;
    border: 0;
    color: white;
    border-radius: 0.5em;
    background-color: #57b;
    font-size: 1rem;
    padding: 0.8em;
    box-shadow: 0 0.4em #148;
    text-shadow: 1px 1px #148;
    margin: 0 auto;
   
}
.button:active{
    background-color: #456ab5;
    transform: translateY(0.1em);
    box-shadow: 0 0.3em #148;
}
p{
    font-family: 'crafty';
    position: sticky;
    
    right: 2em;
}