@font-face{
    font-family: 'crafty';
    font-weight: 800;
    font-stretch: expanded;
    src: url('./fonts-master/apache/satisfy/Satisfy-Regular.ttf')
    format('truetype');
}
html{
    box-sizing: border-box;
    font-size: calc(2rem - 1vw);
    letter-spacing: 0.03em;
    --bg-color: #eee;
    --color: #333;
    
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
}
/* div */
.main-body{
    background-image: url("./images/legdrops.jpeg");
    background-size: contain;
    background-repeat: none;
}

/* nav */
.links{
    width: 100%;
    display: flex;
    
    justify-content: flex-end;
    
}
.links--items {
    height: 15%;
    display: flex;
    list-style: none;
    margin: 5px;
    background-color: rgba(38, 46, 42, 0.664)
    
}
li > a{
    
    display: block;
    text-decoration: none;
    padding:  1em ;
    font-size: 20px;
    color: bisque;
    
}

/* header */
.header{
    color: aliceblue;
    margin: 0 auto;
    text-align: center;
    margin: 0;
    padding: 0

}
.fitness{
    margin-bottom: 0;
    font-size: 4.5rem; 
    font-family: Georgia, 'Times New Roman', Times, serif

}
.fitness--para{
    font-size: 25px;
    font-style: oblique;

}



/* section one
.physical-fitness{
    background-color: #eee;

}
.phy{
    font-size: 3rem;
    text-align: center;
    color: #333;
    border-bottom: 2px solid#333;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif 
} */

/* section */
main{
    margin: 5px;
}
section{
    background-color: #eee;
    mix-blend-mode: hard-light;
    
    

}
h2{
    padding: 1em;
    font-size: 3rem;
    text-align: center;
    color: #333;
    border-bottom: 2px solid#333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} 
p{
    margin: 0 10px 0;;
}
aside{
    background-color: #eee;
    mix-blend-mode: hard-light;
}
/* footer */
footer{
    background-color: black;
    color: pink;
}
.contacts{
    display: block;
    padding-top: 20px;
}
.contacts > li{
    list-style: none;
}
.copyright{
    text-align: center;
    font-size: 12px;
}