/* div{
    margin: 5em auto;
    width: 200px;
    height: 200px;
    background-color: #444;
    animation: scaling 3s ease-in-out infinite;

}
@keyframes scaling{
    0%{
        transform: scale(0.5); background-color: #932
    }
    100%{
        transform: scale(1); background-color: #45e5;
    }
} */
/* .lol{
    background-color: aqua;
    position: relative;
    left: 50%;
    top: 500px;
   
}
p{
    background-color: #000000;
    color: beige;
    display: inline-block;
    position: relative;
    left: 50%;
    top: 500px;
    perspective: 400px;
    transform: rotateY(30deg);
    
    animation: lol 2s linear 1;
    animation-fill-mode: forwards;
} */
/* @keyframes lol{
    0%{
        transform: translate(0, -400px);
    }
    100%{
        transform: translate(0, 400px);
    }
} */
/* -------button----------- */
div{
    width: 250px;
    margin: 250px auto;

}
button{
    
    background-color: #fff;
    border: 1px solid brown;
    line-height: 1.2;
    border-radius: 5px;
    opacity: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    animation: button 1s linear 1;
    animation-fill-mode: forwards;

}
@keyframes button{
    0%{
        opacity: 1;
        transform: rotateY(180deg);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg);
    }

}
.span{
    width: 250px;
    height: 50px;
    padding: 5px;
    perspective: 200px;
    overflow: hidden;
    background-color: #eee;
    border-left: 2px solid black;
    animation: span 2s ease 1;
    animation-fill-mode: forwards;
}
@keyframes span{
    0%{
        border-left-color: transparent;
    }
    100%{
        border-left-color: black;
    }
}

.para{
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  animation: para 1s ease 1;
  animation-fill-mode: backwards;
}
@keyframes para{
    0%{
        transform: translateX(-100%);
    }
    
    100%{
        transform: translateX(0%)  ;
        
    }
}